.card-container {
  display: flex;
}
.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}
.card {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #ffffff;
}
body {
  background-color: #c4c4c4;
}
footer {
  background-color: #ffffff;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 16px;
  }
}

/* 768px以上の画面幅に対応するスタイル */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  /* その他のスタイルの変更をここに追加 */
}

/* 1024px以上の画面幅に対応するスタイル */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  /* その他のスタイルの変更をここに追加 */
}
